rqt-graph==1.8.1
std-msgs==5.9.1
rqt-publisher==1.10.1
geometry-msgs==5.9.1
ament-index-python==1.13.1
example-interfaces==0.14.1
resource-retriever==3.9.1
ros2node==0.40.4
rosidl-typesupport-c==3.4.1
tf2-py==0.45.6
stereo-msgs==5.9.1
examples-rclpy-executors==0.21.3
ros2bag-sqlite3-cli==0.33.0
logging-demo==0.37.5
diagnostic-msgs==5.9.1
rosbag2-interfaces==0.33.0
rqt-gui-py==1.10.2
qt-gui==2.10.2
launch==3.9.6
rclpy==10.0.4
ament-uncrustify==0.20.3
tf2-tools==0.45.6
rosidl-pycommon==5.1.2
ros2multicast==0.40.4
ros2component==0.40.4
rosidl-cmake==5.1.2
rosidl-generator-type-description==5.1.2
examples-rclpy-minimal-subscriber==0.21.3
cv-bridge==4.1.0
rqt-gui==1.10.2
builtin-interfaces==2.4.2
ros2bag-mcap-cli==0.33.0
ros2topic==0.40.4
service-msgs==2.4.2
ament-mypy==0.20.3
launch-xml==3.9.6
examples-rclpy-minimal-action-client==0.21.3
lifecycle-msgs==2.4.2
launch-testing==3.9.6
ros2param==0.40.4
examples-rclpy-minimal-action-server==0.21.3
rosidl-typesupport-introspection-c==5.1.2
rpyutils==0.7.1
map-msgs==2.6.0
ament-flake8==0.20.3
ros2action==0.40.4
launch-testing-ros==0.29.5
rqt-shell==1.4.1
rmw-dds-common==4.0.2
tf2-sensor-msgs==0.45.6
ament-package==0.18.2
ros2service==0.40.4
examples-rclpy-minimal-publisher==0.21.3
tf2-geometry-msgs==0.45.6
rosidl-typesupport-fastrtps-c==3.9.3
ros2bag==0.33.0
sensor-msgs-py==5.9.1
turtlesim-msgs==1.10.4
type-description-interfaces==2.4.2
ros2launch==0.29.5
quality-of-service-demo-py==0.37.5
ament-pep257==0.20.3
ament-lint==0.20.3
rosidl-typesupport-fastrtps-cpp==3.9.3
rosidl-adapter==5.1.2
qt-dotgraph==2.10.2
image-geometry==4.1.0
examples-rclpy-minimal-service==0.21.3
rosidl-cli==5.1.2
examples-rclpy-minimal-client==0.21.3
launch-ros==0.29.5
rosidl-generator-py==0.26.3
statistics-msgs==2.4.2
visualization-msgs==5.9.1
sros2==0.16.3
rqt-py-common==1.10.2
rqt-service-caller==1.5.1
rmw-test-fixture-implementation==0.15.6
rqt-bag==2.2.1
ros2plugin==5.8.2
nav-msgs==5.9.1
topic-monitor==0.37.5
rosidl-generator-rs==0.4.9
ament-cppcheck==0.20.3
action-tutorials-py==0.37.5
rosgraph-msgs==2.4.2
message-filters==7.3.4
sensor-msgs==5.9.1
rosidl-typesupport-cpp==3.4.1
ros2doctor==0.40.4
pendulum-msgs==0.37.5
ament-copyright==0.20.3
rosbag2-py==0.33.0
trajectory-msgs==5.9.1
std-srvs==5.9.1
rqt-action==2.4.1
tf2-kdl==0.45.6
ros2cli==0.40.4
pcl-msgs==1.0.0
rqt-plot==1.7.2
rcl-interfaces==2.4.2
ament-xmllint==0.20.3
unique-identifier-msgs==2.8.1
launch-yaml==3.9.6
rqt-srv==1.4.1
ament-lint-cmake==0.20.3
osrf-pycommon==2.1.7
ros2pkg==0.40.4
rosidl-runtime-py==0.15.1
rosidl-typesupport-introspection-cpp==5.1.2
rqt-reconfigure==1.8.2
qt-gui-py-common==2.10.2
ros2run==0.40.4
angles==1.16.1
shape-msgs==5.9.1
interactive-markers==2.8.2
rqt-py-console==1.5.1
ament-cpplint==0.20.3
rosidl-generator-c==5.1.2
python-qt-binding==2.4.1
tf2-ros-py==0.45.6
demo-nodes-py==0.37.5
qt-gui-cpp==2.10.2
rqt-msg==1.7.1
action-msgs==2.4.2
tf2-msgs==0.45.6
rqt-console==2.4.2
laser-geometry==2.11.2
teleop-twist-keyboard==2.4.1
ros2lifecycle==0.40.4
rqt-topic==2.0.1
ros2interface==0.40.4
composition-interfaces==2.4.2
rosidl-parser==5.1.2
rqt-bag-plugins==2.2.1
rosidl-generator-cpp==5.1.2
rviz-resource-interfaces==15.1.15
ament-cmake-test==2.8.4
urllib3==2.6.3
GitPython==3.1.46
mpmath==1.4.0
PySocks==1.7.1
wandb==0.25.1
vtk==9.6.0
vtk==9.6.0
backports.zstd==1.3.0
tqdm==4.67.3
async-timeout==5.0.1
torchaudio==2.5.1
gmpy2==2.3.0
fonttools==4.62.0
importlib_metadata==8.7.0
pydantic_core==2.41.5
yarl==1.23.0
zipp==3.23.0
aiohttp==3.13.3
filelock==3.25.2
numpy==2.2.6
wheel==0.46.3
itsdangerous==2.2.0
propcache==0.3.1
protobuf==6.33.5
Werkzeug==3.1.6
charset-normalizer==3.4.5
trimesh==4.11.3
gitdb==4.0.12
pillow==12.1.1
typing-inspection==0.4.2
sentry-sdk==2.54.0
unicodedata2==17.0.1
wslink==2.5.6
cached-property==1.5.2
open3d-cpu==0.19.0+72ee789
setuptools==82.0.1
attrs==25.4.0
plotly==6.6.0
six==1.17.0
torchvision==0.20.1
aiohappyeyeballs==2.6.1
packaging==26.0
pyparsing==3.3.2
blinker==1.9.0
nest_asyncio==1.6.0
Flask==3.1.3
kiwisolver==1.5.0
annotated-types==0.7.0
hpack==4.1.0
certifi==2026.2.25
cycler==0.12.1
frozenlist==1.7.0
networkx==3.4.2
pip==26.0.1
hyperframe==6.1.0
h2==4.3.0
opencv-python==4.13.0.92
requests==2.32.5
typing_extensions==4.15.0
click==8.3.1
retrying==1.4.2
contourpy==1.3.2
torch==2.5.1
PyYAML==6.0.3
scipy==1.15.2
triton==3.1.0
Jinja2==3.1.6
smmap==5.0.3
msgpack==1.1.2
munkres==1.1.4
sympy==1.14.0
Brotli==1.2.0
MarkupSafe==3.0.3
python-dateutil==2.9.0.post0
platformdirs==4.9.4
multidict==6.7.1
aiosignal==1.4.0
matplotlib==3.10.8
idna==3.11
dash==4.0.0
h5py==3.15.1
narwhals==2.18.0
pydantic==2.12.5
