__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

wandb/
log/oppenmvs/
openmvs/workspaces/*
!openmvs/workspaces/.gitkeep
openmvs/outputs/*
!openmvs/outputs/.gitkeep
openmvs/_build/
openmvs/_install/

seg_model/
model/**/*.pth
model/**/*_weights.pth
model/**/train_metrics.json
model/**/training_curves.png
model/**/training_curves.pdf
model/**/iou_curves.png
model/**/iou_curves.pdf

model/pointmlp/*.pth
model/pointmlp/train_metrics.json


 
/home/haochen/code/TSDF/yolov8x-seg.pt