__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

wandb/
log/oppenmvs/
openmvs/workspaces/*
!openmvs/workspaces/.gitkeep
openmvs/outputs/*
!openmvs/outputs/.gitkeep
openmvs/_build/
openmvs/_install/
model/pointmlp/*.pth
model/pointmlp/train_metrics.json
