[submodule "openmvs/OpenMVS"]
	path = openmvs/OpenMVS
	url = https://github.com/cdcseacave/openMVS.git
	ignore = dirty
[submodule "openmvs/third_party/nanoflann"]
	path = openmvs/third_party/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
	ignore = dirty
[submodule "openmvs/third_party/vcglib"]
	path = openmvs/third_party/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
	ignore = dirty
[submodule "SplaTAM"]
	path = SplaTAM
	url = git@github.com:spla-tam/SplaTAM.git
[submodule "RandLA-Net-pytorch"]
	path = RandLA-Net-pytorch
	url = git@github.com:HaochenFeng0101/randla-torch.git
